<div class="header">
  <h1 class="header-text">
    Burger__Time
  </h1>
</div>

<div class="container">
<div class="not-devoured">
  <h2 class="title">Eatable</h2>

    <ul class="not-eaten-burgers">
      {{#each burgers}}
        {{#unless devouerd}}
          <div class="burger">
	          <p>{{id}}. {{burger_name}}</p>
	            <i id="icon" class="fas fa-hamburger fa-9x"></i>
                <button class="change-devoured" data-id="{{id}}" data-new-devoured="{{true}}">
                  DEVOUR!
                </button>
      	  </div>
        {{/unless}}
      {{/each}}
    </ul>
</div>

<div class="not-eatable">
  <h2 class="title">Devoured</h2>
    
    <ul class="eaten-burgers">
      {{#each burgers}}
        {{#if devoured}}
         <div class="burger">
	          <p>{{id}}. {{burger_name}}</p>
	
	            <i id="icon" class="fas fa-hamburger fa-9x"></i>
	            <button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
      	  </div>
        {{/if}}
      {{/each}}
    </ul>
</div>

<div class="add">
  <form class="new-burger">
    <h2 class="title">Add a Burger</h2>
    <div class="input-form">
        <input id="burger_name" type="text" id="burger_name" name="burger_name" placeholder="Enter Burger Name">
    </div>

    <button class="addBtn" type="submit">Submit!</button>
  </form>
</div>
</div>
