<li>
	<div class="burger">
	<p>{{id}}. {{burger_name}}</p>
	
	<i id="icon" class="fas fa-hamburger fa-9x"></i>
	{{#if devoured}}
	<button class="change-devoured" data-id="{{1}}" data-new-devoured="{{true}}">
		DEVOURED!
	</button>
	{{else}}<button class="change-devoured" data-id="{{0}}" data-new-devoured="{{false}}">
		EAT ME!
	</button>{{/if}}

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
	</div>
</li>
